.recentPurchaseSection {
  background-color: #f2f4f8;
  margin-top: 3rem;
  padding: 1rem;
  margin-inline: -1.25rem;
  & > div:first-child {
    padding-left: 1rem;
  }
  & > div:nth-child(2) {
    margin-left: -1.5rem;
    margin-top: 2rem;
  }
}
